{% extends 'feed/base.html' %} {% load static%} {% block content %}
<div class="normal__flex gap-sm justify-center  " id='cont'>
  <div class="friend__list flex-col bg-white rounded-sm padding">   
    {% for friend in friends %}
    <div class=" margin__top bg__white rounded-sm post_container">
      <div class="normal__flex post__div">
        {% if friend.user.username == user.username%}
        <div class="flex gap-sm">
          <img
            src="{{friend.sender_profile.profile.url}}"
            alt="{{user.username}}"
            class="profile__img"
          />
          <div>
            
            <p>{{friend.friend_username}}</p>
            <p>{{friend.sender_profile.friends}} Friends</p>
            {% else%}
            <div class="flex gap-sm">
              <img
                src="{{friend.receiver_profile.profile.url}}"
                alt="{{user.username}}"
                class="profile__img"
              />
              <div>
                
              
            <p>{{friend.user}}</p>
            
            
            <p>{{friend.receiver_profile.friends}} Friends</p>
            {% endif %}
          </div>
         
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="message_cont bg-white rounded-sm">
    <div class="normal__flex bg-white rounded-sm padding">
     <a href="profile/isamaza">
      <div class="flex">
        <img src="{% static 'assets/p1.jpeg' %}" alt="" class="profile__img" />
        <p>Isamaza</p>
      </div>

     </a> 
      <img src="{% static 'assets/menu.svg' %}" alt="" class="icon">
     
    </div>
    <div class="message_chat_room gap-sm">
      <div class="message_cont rounded-sm">

      </div>
      <form action="" method='POST' onsubmit="handleSubmit()">
        {% csrf_token %}
      <input type="text" class="send_message rounded-md relative" placeholder="Message" id="message" name="value"/>
      <input type="hidden" name="username" id="username" value="{{user.username}}">
      <input type="hidden" name="room" id="room" value="">
        <button class="absolute send__absolute" title="send" type="submit" id="submit_button">
          <img src="{% static 'assets/send.svg' %}" alt="send" class="icon">  
        </button>
        <label for="file_upload">
          <div class="absolute attach__absolute" title="Attach">
            <img src="{% static 'assets/attach.svg' %}" alt="send" class="icon">  
          </div>
        </label>
        <input type="file" id="file_upload" name="file_upload" class="hidden">
       
      </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
