{% extends 'feed/base.html' %} {% load static %} {% block content %}
<div class="profile_container">
  <div class="flex-col">
    <div
      class="post__img_cont"
      style="background:url('{{latest_post.image.url}}'); background-repeat: no-repeat;background-size: cover; background-position: center;"
    >
      <div class="normal__flex items-center">
        <div class="flex">
          <img
            alt=""
            class="profile_banner_image"
            src="{{user_profile.profile.url}}"
          />
          <div class="">
            <h3>{{profile_username}}</h3>
            <p>{{user_profile.bio}}</p>
          </div>
        </div>
        <div class="flex padding-l-20px">
          {% if len_post == 0 %}
          <h4>No post</h4>
          {% elif len_post == 1 %}
          <h4>1 Post</h4>
          {% else %}
          <h4 class="text-center">{{len_post}} Posts</h4>
          {% endif %} {% if friends == 0 %} {% elif friends == 1 %}
          <h4>1 friend</h4>
          {% else %}
          <h4>{{friends}} Friends</h4>
          {% endif %} {% if not isOwner %}

          <a
            href="/add_friend?username={{user_profile}}"
            class="add_friend_btn"
          >
            {% if not is_friend %} Add friend {% elif is_friend == "pending" %} Request sent {% else%} Remove{% endif %}
          </a>
          {% endif %}
        </div>
      </div>
      <h5 class="text-center">Posts</h5>
      <div class="flex justify-center">
        <div class="flex-col prof_container__el">
          {% for post in user_post %}
          <div class="padding margin__top bg-white rounded-sm post_container">
            <div class="normal__flex post__div">
              <a href="../../profile/{{post.user}}" class="bg-white">
                <div class="flex gap-sm">
                  <img
                    src="{{post.profile.profile.url}}"
                    alt="{{user.username}}"
                    class="profile__img"
                  />
                  <div>
                    <h4 class="bg-white">{{post.user}}</h4>
                    <p>{{location}}</p>
                  </div>
                </div>
              </a>
              <div class="relative add__friend">
                <img
                  src="{% static 'assets/light/account.svg' %}"
                  alt="add friend"
                  srcset=""
                  class="icon account"
                />
                <p class="absolute icon__absolute">+</p>
              </div>
            </div>
            <h4 class="padding__top padding__bottom">
              {{post.caption}} {{post.created__at}}
            </h4>
            <img src="{{post.image.url}}" class="w-full rounded-sm margin__top" />
            <div class="normal__flex padding__top padding__bottom">
              <div class="flex">
                <div class="like-comment flex align-center">
                  <div data-post-id="{{post.id}}" id="like" class="like">
                    <img
                      src="{% static 'assets/light/like.svg' %}"
                      alt=""
                      srcset=""
                      class="icon like"
                    />
                  </div>
                  {% if post.no_of_like == 0 %}
                  <span data-post-id="{{post.id}}" class="like_count"></span>
                  {% else %}
                  <span data-post-id="{{post.id}}" class="like_count"
                    >{{post.no_of_like}}</span
                  >
  
                  {% endif %}
                </div>
                <div
                  onclick="handleOpenComment('{{post.id}}')"
                  id="comment_div"
                  data-id="{{post.id}}"
                  class="flex gap-s"
                >
                  <img
                    src="{% static 'assets/light/comment.svg' %}"
                    alt=""
                    srcset=""
                    class="icon comment_icon"
                    id="comment"
                  />
                  
                  {% if post.no_of_comments == 0 %}
                    
                  {% else %}
                  <p id="comment_count">{{post.no_of_comments}}</p>
                  {% endif %}
                    
                  
                </div>
  
                <img
                  src="{% static 'assets/light/share.svg' %}"
                  alt=""
                  srcset=""
                  class="icon share"
                  onclick="showShareModal('{{post.id}}')"
                />
              </div>
  
              <img
                src="{% static 'assets/light/save.svg' %}"
                alt=""
                srcset=""
                class="icon save",
                data-post_id="{{post.id}}"
                
              />
            </div>
            <div
              class="comment_model gap-sm"
              data-comment-id="{{post.id}}"
              id="comment_div"
  
            >
              <form
                action=""
                class="flex"
                id="comment_form"
                enctype="multipart/form"
              >
                <input
                  type="text"
                  class="comment_model_input"
                  name="comment"
                  id="{{post.id}}"
                />
                <button class="comment">Comment</button>
              </form>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
