{% extends 'feed/base.html' %}
{% load static %}
{% block content %}
<div class="profile_container">
    <div class="flex-col">

        <div>



            <div class=" flex justify-center">
                <div class="flex-col prof_container__el ">
                    {% for profile in search_profile %}
                    <div class="padding margin__top bg__white rounded-sm post_container">

                        <div class="normal__flex post__div">
                            <div class="flex gap-sm">
                                <img src="{{profile.profile.url}}" alt="{{user.username}}" class="profile_banner_image">
                               <div>
                                    <p>{{profile.user}}</p>
                                   <p>{{profile.friends}} Friends</p>
                               </div>
                                <div>


                                </div>

                            </div>
                            {% if not is_friend %}
                            <a href="../../add_friend?username={{profile.user}}"><div class="relative add__friend">
                                <img src="{% static 'assets/menu.svg' %}" alt="add friend" srcset="" class="icon">

                            </div></a>


                            {% endif %}


                        </div>




                    </div>
                    {% endfor %}
                    {% for post in search_post  %}
                    <div class="padding margin__top bg__white rounded-sm post_container">
            
                        <div class="normal__flex post__div">
                            <a href="profile/{{post.user}}">
                                <div class="flex gap-sm">
                                <img src="{{post.profile.profile.url}}" alt="{{user.username}}" class="profile__img">
                                <div>
                                    <h4>{{post.user}}</h4>
                                    <p>{{location}}</p>
                                </div>
            
                            </div>
                            </a>
                            <div class="relative add__friend">
                                <img src="{% static 'assets/account.svg' %}" alt="add friend" srcset="" class="icon">
                                <p class="absolute icon__absolute">
                                    +
                                </p>
                            </div>
            
            
                        </div>
                        <h4 class="padding__top padding__bottom">{{post.caption}} {{post.created__at}}</h4>
                        <img src="{{post.image.url}}" class="w-full rounded-sm margin__top">
                        <div class="normal__flex padding__top padding__bottom">
                            <div class="flex ">
                                <div class="like-comment">
            
                                                        <a href="like?post_id={{post.id}}">
                                    <img src="{% static 'assets/like.svg' %}" alt="" srcset="" class="icon">
                                </a>
                                    {% if post.no_of_like == 0 %}
            
                                    {% else %}
                                    <span>{{post.no_of_like}}</span>
            
                                    {% endif %}
                                </div>
            
                                <img src="{% static 'assets/comment.svg' %}" alt="" srcset="" class="icon">
                                <img src="{% static 'assets/share.svg' %}" alt="" srcset="" class="icon">
                            </div>
            
            
                            <img src="{% static 'assets/save.svg' %}" alt="" srcset="" class="icon">
                        </div>
            
            
                    </div>
                    {% endfor %}
                </div>
            </div>

            
        </div>

    </div>
</div>
{% endblock %}